.recall {
  padding: 60px 0 70px 0;
  min-height: 440px;
  background: linear-gradient(to right, rgba(46, 46, 46, 0.8), rgba(46, 46, 46, 0.8)), url("../img/bg/BG_recall.webp") center / cover no-repeat;
  &__item {
    width: 810px;
    background-color: rgba($color: #ffffff, $alpha: 0.7);
    display: grid;
    grid-template-columns: repeat(3, 270px);
    grid-template-rows: 90px 90px 70px 70px;
    justify-items: center;
    align-items: center;
    justify-content: center;
    opacity: initial;
  }

  &__header {
    background-color: #25333c;
    grid-row: 1 / 1;
    grid-column: 1 / 4;
    height: 100%;
    width: 100%;
    text-align: center;
    color: $second-color;
    text-transform: uppercase;

    h3 {
      font-size: 19px;
      font-weight: 700;
      margin: 20px 0 0 0;
    }
    h4 {
      font-size: 14px;
      font-weight: 400;
      margin-bottom: 20px;
    }
  }
  &__input {
    margin: initial;
    input {
      width: 260px;
      height: 50px;
      border-radius: 25px;
      padding: 0 15px 0 30px;
      border: 1px solid #898989;
    }
    &_main {
      margin-top: 15px;
      input {
        width: 100%;
        height: 47px;
      }
      &:nth-of-type(2) {
        margin-left: 30px;
      }

      &:nth-of-type(4) {
        margin-right: 30px;
      }
    }
    &:nth-of-type(2) {
      grid-row: 2 / 2;
      grid-column: 1 / 1;
    }
    &:nth-of-type(3) {
      grid-row: 2 / 2;
      grid-column: 2 / 2;
    }
    &:nth-of-type(4) {
      grid-row: 2 / 2;
      grid-column: 3 / 3;
    }
  }
  &__textarea {
    width: 92%;
    height: 100%;
    grid-row: 3 / 3;
    grid-column: 1 / 4;
    border-radius: 5px;
    background-color: #ffffff;
    input {
      padding: 0 15px 0 15px;
      border: none;
      width: 100%;
      height: 100%;
    }
  }
  &__btn {
    grid-row: 4 / 4;
    grid-column: 1 /4;
    margin: 20px 0;
  }

  label.error {
    color: red;
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 10px;
  }
}
