.management {
  padding: 60px 0 100px 0;
  background: linear-gradient(to right, rgba(46, 46, 46, 0.5), rgba(46, 46, 46, 0.5)),
    url("../../../../../assets/img/bg/BG_manager.webp") center / cover no-repeat;
  &__wrapper {
    width: 950px;
  }
}
