@import "libs/bootstrap-reboot.min";
@import "../css/slick.css";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700;900&display=swap");

@import "base/variables";
@import "base/mixins";

html,
body {
  scroll-behavior: smooth;
}
* {
  font-family: "Roboto", sans-serif;
  margin: 0 auto;
  padding: 0;
}

.container {
  width: 1140px;
  opacity: 1;
}
// sections
@import "blocks/menu/menu";
@import "blocks/promo/promo";
@import "blocks/advantages/advantages";
@import "blocks/organization/organization";
@import "blocks/agency/agency";
@import "blocks/price/price";
@import "blocks/manager/manager";
@import "blocks/scheme/scheme";
@import "blocks/reviews/reviews";
@import "blocks/recall/recall";
@import "blocks/footer/footer";

// media for them
@import "blocks/menu/media";
@import "blocks/promo/media";
@import "blocks/advantages/media";
@import "blocks/organization/media";
@import "blocks/agency/media";
@import "blocks/price/media";
@import "blocks/manager/media";
@import "blocks/reviews/media";
@import "blocks/recall/media";
@import "blocks/footer/media";

//other css
@import "blocks/other/btn";
@import "blocks/other/devider";
@import "blocks/other/title";
@import "blocks/other/carousel";
