.hamburger {
  display: none;
}

.menu {
  position: relative;
  height: 135px;
  width: 1200px;
  padding: 23px 390px;
  z-index: 1;
  &__close {
    visibility: hidden;
    display: none;
  }
  &__wrapper {
    display: grid;
    grid-template-columns: 97px 700px 340px;
    grid-template-rows: 100px;
    column-gap: 25px;
    justify-content: center;
    width: 100%;
  }
  &__logo {
    width: 96px;
    height: 100px;
    margin-right: 55px;
    img {
      width: 100%;
      height: 100%;
    }
  }
  &__links {
    display: flex;
    align-items: center;
    list-style: none;
    justify-content: center;
  }
  &__item {
    border-right: 1px dotted $second-color;
    margin-right: 10px;
    scroll-behavior: smooth;

    &:last-child {
      margin-right: 0;
      border-right: none;
    }
    a {
      color: $second-color;
      &:hover {
        color: $main-color;
      }
    }
  }
  &__link {
    font-size: 18px;
    line-height: 16px;
    font-weight: 400;
    margin-right: 10px;
  }
  &__call {
    margin-top: 20px;
    display: grid;
    align-items: center;
    align-content: center;
    max-width: 350px;
    max-height: 38px;
    color: $second-color;
    grid-template-columns: repeat(2, 165px);
    grid-template-rows: 20px 25px;
    column-gap: 15px;
    text-align: right;
  }
  &__header {
    width: 100%;
    font-size: 14px;
    line-height: 24px;
    font-weight: 300;
  }
  &__number {
    font-size: 19px;
    line-height: 24px;
    font-weight: 700;
  }
  &__btn {
    grid-row: 1 / 3;
    grid-column: 2 /2;
  }
}
