.menu {
  width: 100%;
  height: 150px;
  &__wrapper {
    display: flex;
    justify-content: space-evenly;
    height: 100%;
  }
  &__logo {
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &__links {
    display: flex;
    align-items: center;
    list-style: none;
    justify-content: center;
    padding: 0;
  }
  &__item {
    border-right: 1px dotted var(--primary-color);
    margin: 0 5px;
    scroll-behavior: smooth;
    &:last-child {
      margin-right: 0;
      border-right: none;
    }
    a {
      color: var(--primary-color);
      &:hover {
        color: var(--selected-color);
      }
    }
  }
  &__link {
    font-size: 18px;
    line-height: 16px;
    margin: 0 5px;
  }
  &__call {
    display: flex;
    color: var(--primary-color);
    text-align: right;
    &-header {
      margin-right: 15px;
    }
    &-title {
      font-size: 14px;
      line-height: 24px;
      font-family: Roboto Light;
    }
    &-number {
      font-size: 18px;
    }
  }
}
