.price {
  min-height: 950px;
  padding: 50px 0 60px 0;
  &__items {
    display: flex;
    background-color: var(--primary-color);
    justify-content: center;
    column-gap: 10px;
  }
  &__item {
    display: flex;
    flex-direction: column;
    width: 260px;
    height: 350px;
    border: 1px solid #e9e9e9;
  }
  &__header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #25333c;
    font-size: 16px;
    line-height: 23px;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--primary-color);
    text-align: center;
    width: 100%;
    height: 61px;
  }
  &__descr {
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
  &__time {
    font-size: 14px;
    line-height: 23px;
    font-weight: 400;
    text-transform: uppercase;
    color: var(--secondary-color);
  }
  &__range {
    font-size: 28px;
    line-height: 30px;
    text-transform: none;
    color: var(--selected-color);
  }
  &__text {
    font-size: 14px;
    line-height: 20px;
    font-weight: 300;
    color: var(--secondary-color);
    text-align: center;
    padding: 0 8px;
  }

  &__consultation {
    display: flex;
    flex-direction: column;
    margin-top: 60px;
    align-items: center;
    label.error {
      color: red;
      display: flex;
      justify-content: center;
      text-align: center;
      font-size: 10px;
    }
  }
  &__title {
    margin-bottom: 70px;
    font-size: 28px;
    line-height: 23px;
    font-weight: 400;
    color: #3a3a3a;
  }
  &__form {
    display: grid;
    grid-template-columns: repeat(3, 270px);
    grid-template-rows: repeat(3, 55px);
    justify-items: center;
    align-items: center;
    justify-content: center;
  }
  &__wrapper {
    width: 100%;
    justify-content: center;
    display: flex;
    &-circle {
      display: flex;
      justify-content: center;
      width: 50%;
      height: 100%;
      grid-row: 1 / 1;
      grid-column: 2 / 3;
      margin-bottom: 108px;
      background-color: var(--primary-color);
    }
    &-form {
      width: 100%;
      height: 100%;
      border: 1px solid #898989;
    }
  }
  &__circle {
    width: 102px;
    height: 102px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--selected-color);
    border-radius: 100%;
  }
  &__btn {
    display: flex;
    justify-content: center;
    width: 75%;
    height: 100%;
    grid-row: 3 / 4;
    grid-column: 2 / 3;
    margin-top: 55px;
    background-color: var(--primary-color);
    button {
      font-size: 11px;
    }
  }
}
