.agency,
.management {
  padding: 60px 0 75px 0;
  min-height: 340px;
  background: linear-gradient(to right, rgba(46, 46, 46, 0.5), rgba(46, 46, 46, 0.5)),
    url("../../../../../assets/img/bg/BG_agency.webp") center / cover no-repeat;
  &__wrapper {
    display: flex;
    flex-direction: column;
  }
  &__circle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 102px;
    height: 102px;
    border: 1px solid #ffffff;
    border-radius: 100%;
    margin: 0 auto 35px auto;
    img {
      width: 53px;
      height: 53px;
    }
  }
}
