.carousel {
  padding: 81px 0;
  &__inner {
    position: relative;
    width: 600px;
  }

  .slick-prev,
  .slick-next {
    position: absolute;
    top: 50px;
    transform: translateY(-50%);
    left: -66px;
    border: none;
    background-color: #fff;
    img {
      width: 14px;
      height: 46px;
      object-fit: cover;
    }
  }
  .slick-next {
    right: -66px;
    left: auto;
  }
}

@media (max-width: 992px) {
  .carousel {
    &__inner {
      width: 500px;
    }
  }
}

@media (max-width: 576px) {
  .carousel {
    &__inner {
      width: 300px;
    }
  }
}
