.scheme {
  padding: 50px 0 45px 0;
  min-height: 460px;
  background-color: #f3f3f3;
  &__items {
    display: flex;
    flex-wrap: wrap;
    row-gap: 50px;
  }
  &__item {
    display: flex;
    max-width: 250px;
    flex-direction: column;
  }
  &__img {
    width: 50px;
    height: 49px;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &__header {
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    color: var(--selected-color);
  }
  &__text {
    font-size: 14px;
    font-weight: 300;
    color: #3a3a3a;
    text-align: center;
  }
}
