.manager {
  padding: 60px 0 100px 0;
  background: linear-gradient(to right, rgba(46, 46, 46, 0.8), rgba(46, 46, 46, 0.8)), url("../img/bg/BG_manager.webp") center / cover no-repeat;
  &__wrapper {
    width: 950px;
  }
}
