@media (max-width: 1200px) {
  .organization {
    &__items {
      grid-template-columns: repeat(2, 300px);
      grid-template-rows: repaat(2, 300px);
      justify-content: space-evenly;
      row-gap: 30px;
    }
    &__item {
      flex-direction: column;
      align-items: center;
      &:last-child {
        grid-row: 2 / 3;
        grid-column: 1 / 3;
      }
    }
    &__img {
      width: 300px;
      height: 300px;
    }
    &__header {
      margin: 5px 0;
      font-size: 14px;
    }
    &__descr {
      font-size: 12px;
    }
  }
}

@media (max-width: 767px) {
  .organization {
    &__items {
      grid-template-columns: 300px;
      grid-template-rows: 385px;
      grid-auto-flow: row;
    }
  }
}

@media (max-width: 640px) {
  .organization {
    &__items {
      grid-template-columns: 300px;
      grid-template-rows: 300px;
      row-gap: 50px;
    }
    &__item {
      flex-wrap: nowrap;
      &:last-child {
        grid-row: initial;
        grid-column: initial;
      }
    }
    &__header {
      font-size: 16px;
    }
    &__descr {
      font-size: 10px;
    }
  }
}

@media (max-width: 375px) {
  .organization {
    &__items {
      grid-template-columns: 250px;
    }
    &__img {
      width: 250px;
      height: 250px;
    }
  }
}
